
@{
    ViewBag.Title = "EventoUsuarioEditarVista";
}

@section Contentheader{
    <div class="top-bar clearfix" style="background:#6BC907">
        <div class="row gutter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="page-title">
                    <h4>Editar Evento</h4>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="right-stats" id="mini-nav-right">
                    <li>
                        <a href="~/Evento/EventoUsuarioListarVista" class="btn btn-primary btn-block"><i class="icon-arrow-with-circle-left"></i> Volver</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<div class="row gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel">
            <div class="panel-heading text-center" style="background:#808080; color:#fff">
                <h4>Datos de Evento</h4>
            </div>
            <div class="panel-body">
                <form id="frmNuevo">
                    <div class="row">
                        <input type="hidden" name="Id" value="@ViewBag.Id" id="txtId" />
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nombre de Evento</label>
                                <input type="text" placeholder="Ingrese Evento" id="txtNombre_Evento" class="form-control input-sm" name="Nombre_Evento" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Descripcion de Evento</label>
                                <textarea name="Descripcion_Evento" style="resize:none;" id="txtDescripcion_Evento" cols="30" rows="5" class="form-control input-sm"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Dirección (Referencial)</label>
                                <input type="text" id="txtDireccion_Evento" placeholder="Ingrese Dirección" class="form-control input-sm" name="Direccion_Evento" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Categoria</label>
                                <select class="form-control input-sm" id="cboCategoriaId" name="CategoriaId"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Fecha de Evento</label>
                                <input type="date" placeholder="Ingrese su Fecha" id="txtFechaInicioEvento" class="form-control input-sm" name="FechaInicioEvento" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Fecha de Evento</label>
                                <input type="time" placeholder="Ingrese su Hora" id="txtHoraEvento" class="form-control input-sm" name="HoraEvento" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Portada de Evento (Opcional)</label>
                                <input type="file" class="form-control input-sm" name="Imagen" />
                            </div>
                            <div class="form-group">
                                <label class="control-label mb-10">Estado</label>
                                <select class="form-control input-sm" id="cboEstado" name="Estado1">
                                    <option value="">--Seleccione--</option>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                            <input type="hidden" class="form-control input-sm " id="txtEstado" name="Estado_Evento" placeholder="">
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Localización</label>
                                <input type="text" placeholder="Ingrese su localización" id="txtLocalizacion" class="form-control input-sm" />
                            </div>
                            <div id="us3" style="height: 400px; border:1px solid #CCCCCC"></div>
                            <div class="col-sm-3">
                                <input type="hidden" class="form-control" name="latitud" id="us3-lat" />
                            </div>
                            <div class="col-sm-3">
                                <input type="hidden" class="form-control" name="longitud" id="us3-lon" />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success pull-right" id="btnRegistrarEvento">Modificar Evento</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section js{
    <script src="~/Content/viewJs/Evento/EventoUsuarioEditarVista.js"></script>
}