
@{
    ViewBag.Title = "InicioUsuario";
}



@section Contentheader{





    <div class="top-bar clearfix" style="background:#2FCE03">
        <!--barra verde-->
        <div class="row gutter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="page-title">
                    <h4 style="padding-bottom:6px;">Perfil Usuario</h4>
                </div>
            </div>
        </div>
    </div>
}




<div class="col-lg-4 col-md-5 col-sm-7 col-xs-12" style="margin-top:30px;">
    <div class="panel no-border height2 teal-bg" style="background:#ffffff">
        <div class="panel-body">
            <div class="user-profile clearfix">
                <div class="user-img">
                    <span class="completed-info">S<sup></sup></span>
                </div>

                <h3 class="nombre" style="color:#2FCE03"></h3>
                <h5 class="cliente" style="color:#2FCE03"></h5>
            </div>
            <h5 style="text-align:center;">En esta sección puedes verificar y modificar tus datos personales </h5>
        </div>

    </div>

</div>


<div class="col-lg-8 col-md-5 col-sm-7 col-xs-12" style="margin-top:40px;">
    <div class="panel no-border height2">
        <div class="panel-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="Nombre" id="txtNombre" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Apellido</label>
                        <input type="text" name="Apellido" id="txtApellido" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" name="Telefono" id="txtTelefono" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="Email" id="txtEmail" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Fecha Registro</label>
                        <input type="text" name="Fecha" id="txtFecha" class="form-control" />
                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-6 col-md-offset-6">
                    <button type="button" class="btn btn-warning btn-block pull-right" style=" background-color:#808080; border:#808080; width:160px; margin-top:120px;">Modificar Usuario</button>
                </div>

            </div>
        </div>
    </div>
</div>





@section js{
    <script src="~/Content/viewJs/Usuario/PerfilVista.js"></script>    
}