
@{
    ViewBag.Title = "InicioUsuario";
}



@section Contentheader{
    <div class="top-bar clearfix" style="background:#6BC907" >
        <div class="row gutter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="page-title">
                    <h4>Perfil Usuario</h4>
                </div>
            </div>
        </div>
    </div>
}

    <h2>InicioUsuario</h2>