
@{
    ViewBag.Title = "Index2";
}


<!--start cambios-->
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <ul class="right-stats" id="mini-nav-right">
        <li>
            <a href="~/Estadistica/index" class="btn btn-primary btn-block"><i class="icon-arrow-with-circle-left"></i> Gráfico lineal</a>
        </li>
    </ul>
</div>
<!--end cambios-->




<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


@section js{
    <script src="~/Content/viewJs/Estadistica/pie.js"></script>
}





<br />
<br />
<br />
<br />
<div class="col-lg-12 col-md-12">
    <p>En este Indicador gráfico podemos visualizar el porcentaje de categorias de los eventos que realizarón por mes.</p>
</div>