
@{
    Layout = null;
}

@using SlnPartyOn.Models
@{
    UsuarioModel usuario = (UsuarioModel)Session["UsuarioFull"];
    string usuariotipo = "";

    if (usuario != null)
    {

        if(usuario.TipoUsuario == 1)
        {
            Response.Redirect("~/Usuario/InicioAdministradorVista");
        }
        else
        {
            Response.Redirect("~/Usuario/InicioUsuarioVista");
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sistema de Gestión de Eventos</title>
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href="~/Content/viewJs/toastr.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/images/icon_app.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">
                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content bg-1">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <p>¿No tienes una cuenta?</p>
                                <a class="btn get-started-btn bg-primary text-white RegistrarLogin" href="#" >EMPIEZA YA!</a>
                            </div>
                            <form action="#" autocomplete="off" id="frmNuevo">
                                <h3 class="mr-auto text-center">Bienvenido</h3>
                                <p class="mb-5 mr-auto text-center">Disfruta de los beneficios de ser usuario <b style="color:#6BC907">PREMIUM</b> gratis por un mes.</p>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input type="email" name="Email" id="txtEmail" class="form-control" placeholder="Usuario">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" name="Password" id="txtPassword" class="form-control" placeholder="Contraseña">
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                    <label class="custom-control-label" for="defaultUnchecked" style="font-size:14px">Recordar</label>
                                </div>
                                <br />
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-block btnIniciarSesion" style="background:#6BC907; border-color:#6BC907 ">Iniciar Sesión</button>
                                </div>
                                <div class="wrapper mt-5 text-gray">
                                    <p class="footer-text text-center">Copyright © 2018 Desarrollo Web II - 2018. All rights reserved.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/Content/js/template.js"></script>
    <script src="~/Content/viewJs/toastr.min.js"></script>
    <script src="~/Content/viewJs/General.js"></script>
    <script src="~/Content/viewJs/Seguridad/LoginVista.js"></script>
</body>
</html>
